<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/card-form.css') }}"> -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/card-form.css">
    <title>Вход</title>
</head>
<body>
    <!-- <div class="bg"></div> -->
    <!-- <div class="fade"></div> -->

    <div class="wrapper">
        <div class="card">
            <h2>Вход</h2>
            <form action="/api/v1/auth" method="post" onsubmit="return false;">
                <div>
                    <!-- <p>1) Введите свой email для получения SMS-кода:</p> -->
                    <input class="email" type="text" name="email" required placeholder="E-mail" autocomplete="off">
                    <button class="codeSendButton" type="button" class="secondary">Получить код</button>
                </div>
                <div>
                    <!-- <p>2) Введите ваш код:</p> -->
                    <input class="code" name="code" required placeholder="XXXX" autocomplete="off">
                    <button type="submit" class="primary">Войти</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- <script src="{{ url_for('static', path='js/main.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', path='js/auth.js') }}"></script> -->
    <!-- <script src="../js/main.js"></script> -->
    <script src="/static/js/auth.js"></script>
</body>
</html>