<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="https://myrosmol.ru/2022/img/favicon/favicon-32x32.png">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"> -->
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Профиль</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="wrapper-left" style="display: flex;">
                <!-- {# test #} -->
                <!-- <div class="menu-button">
                    <div class="menu-button-line"></div>
                    <div class="menu-button-line"></div>
                    <div class="menu-button-line"></div>
                </div> -->
                <img src="/static/img/logo.png" height="20px" style="margin-left: 10px; margin-top: 10px; margin-right: 5px;" alt="logo"/>   <!-- height: 20px -->
                <div class="header-links">
                    <a href="/roadmap"><button class="secondary">Roadmap</button></a>
                    <button class="secondary">События</button>
                    <button class="secondary">Сеть</button>
                    <a href="/adduser"><button class="secondary">Сотрудники</button></a>
                </div>
            </div>
            <div class="wrapper-right">
                <!-- <div class="user-photo"></div> -->
                <a href="/static/app.apk" style="margin-top: 17px;">Скачать приложение</a>
                <a href="/static/profile"><button class="primary">Профиль</button></a>
                <a href="/sign_out"><button class="secondary">Выйти</button></a>
            </div>
        </div>
    </header>
    <div class="content">
        <!-- <nav>
            <div class="card dropdown">
                <div class="dropdown-trigger" data-isopen="false">
                    <b>Неделя 1</b>
                </div>
                <div class="dropdown-content">
                    <div class="card grey dropdown">
                        <div class="dropdown-trigger" data-isopen="false">
                            <b>День 1</b>
                        </div>
                        <div class="dropdown-content">
                            <div class="task card purple">
                                <div class="task-title" style="color: white;">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone" style="color: white;">
                                        <input type="checkbox" disabled style="color: white;">Не пройдено
                                    </div>
                                    <div class="task-status-reward" style="color: white;">
                                        +500
                                    </div>
                                </div>
                            </div>

                            <div class="task card purple-border">
                                <div class="task-title">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone">
                                        <input type="checkbox" disabled>Не пройдено
                                    </div>
                                    <div class="task-status-reward">
                                        +500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card grey dropdown">
                        <div class="dropdown-trigger" data-isopen="false">
                            <b>День 2</b>
                        </div>
                        <div class="dropdown-content">
                            <div class="task card purple">
                                <div class="task-title" style="color: white;">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone" style="color: white;">
                                        <input type="checkbox" disabled style="color: white;">Не пройдено
                                    </div>
                                    <div class="task-status-reward" style="color: white;">
                                        +500
                                    </div>
                                </div>
                            </div>

                            <div class="task card purple-border">
                                <div class="task-title">
                                    Lorem ipsum 
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone">
                                        <input type="checkbox" disabled>Не пройдено
                                    </div>
                                    <div class="task-status-reward">
                                        +500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav> -->
        <main style="width: 100%;">
            <div class="profile card grey" style="width: 95%;">
                <h1>Пупкин Василий Иванович</h1>
                <div>
                    <div style="background: lime; border-radius: 15px; display: inline; padding: 5px; color: white;">Сотрудник</div>
                    <span class="profile-date">01.02.1963</span>
                    <span class="profile-date">Подразделение</span>
                </div>
                <div style="margin-top: 10px;">
                    <p>О себе</p>
                    <input value="Люблю пьесы" style="width: 95%;">
                    <div style="display: flex">
                        <div style="width: 50%;">
                            <p>Telegram</p>
                            <input style="width: 90%;">
                        </div>
                        <div style="width: 50%;">
                            <p>WhatsApp</p>
                            <input style="width: 90%;">
                        </div>
                    </div>
                    <div style="display: flex">
                        <div style="width: 50%;">
                            <p>VK</p>
                            <input style="width: 90%;">
                        </div>
                        <div style="width: 50%;">
                            <button class="secondary" style="width: 90%; margin-top: 30px;">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- <aside>
            <div class="links card purple">
                <b style="color: white;">Полезные ссылки</b>
                <div class="links-list">
                    <button class="secondary" >Оформление документов</button>
                    <button class="secondary">Бланк документа</button>
                </div>
            </div>
        </aside> -->
    </div>
    <!-- <footer>
        footer
    </footer> -->
    <!-- <script src="{{ url_for('static', path='js/main.js') }}"></script> -->
    <script src="/static/js/auth.js"></script>
</body>
</html>