<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"> -->
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Roadmap</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="wrapper-left" style="display: flex;">
                <!-- {# test #} -->
                <!-- <div class="menu-button">
                    <div class="menu-button-line"></div>
                    <div class="menu-button-line"></div>
                    <div class="menu-button-line"></div>
                </div> -->
                <img src="/static/img/logo.png" height="30px" style="margin-left: 10px; margin-top: 10px; margin-right: 5px;" alt="logo"/>   <!-- height: 20px -->
                <div class="header-links">
                    <button class="primary" style="color: white">Roadmap</button>
                    <button class="secondary">События</button>
                    <button class="secondary">Сеть</button>
                </div>
            </div>
            <div class="wrapper-right">
                <div class="user-photo"></div>
                <a href="/sign_out"><button class="primary">Выйти</button></a>
            </div>
        </div>
    </header>
    <div class="content">
        <nav>
            <div class="card dropdown roadmap"> <!-- dropdown класс символически -->
            <!--
                <div class="dropdown-trigger" data-isopen="true">
                    <b>Неделя 1</b>
                </div>
                <div class="dropdown-content">
                    <div class="card grey dropdown">
                        <div class="dropdown-trigger" data-isopen="true">
                            <b>День 1</b>
                        </div>
                        <div class="dropdown-content">
                            <div class="task card purple">
                                <div class="task-title" style="color: white;">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone" style="color: white;">
                                        <input type="checkbox" disabled style="color: white;">Не пройдено
                                    </div>
                                    <div class="task-status-reward" style="color: white;">
                                        +500
                                    </div>
                                </div>
                            </div>

                            <div class="task card purple-border">
                                <div class="task-title">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone">
                                        <input type="checkbox" disabled>Не пройдено
                                    </div>
                                    <div class="task-status-reward">
                                        +500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card grey dropdown">
                        <div class="dropdown-trigger" data-isopen="true">
                            <b>День 2</b>
                        </div>
                        <div class="dropdown-content">
                            <div class="task card purple">
                                <div class="task-title" style="color: white;">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone" style="color: white;">
                                        <input type="checkbox" disabled style="color: white;">Не пройдено
                                    </div>
                                    <div class="task-status-reward" style="color: white;">
                                        +500
                                    </div>
                                </div>
                            </div>

                            <div class="task card purple-border">
                                <div class="task-title">
                                    Lorem ipsum 
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone">
                                        <input type="checkbox" disabled>Не пройдено
                                    </div>
                                    <div class="task-status-reward">
                                        +500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropdown-trigger" data-isopen="true">
                    <b>Неделя 1</b>
                </div>
                <div class="dropdown-content">
                    <div class="card grey dropdown">
                        <div class="dropdown-trigger" data-isopen="true">
                            <b>День 1</b>
                        </div>
                        <div class="dropdown-content">
                            <div class="task card purple">
                                <div class="task-title" style="color: white;">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone" style="color: white;">
                                        <input type="checkbox" disabled style="color: white;">Не пройдено
                                    </div>
                                    <div class="task-status-reward" style="color: white;">
                                        +500
                                    </div>
                                </div>
                            </div>

                            <div class="task card purple-border">
                                <div class="task-title">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone">
                                        <input type="checkbox" disabled>Не пройдено
                                    </div>
                                    <div class="task-status-reward">
                                        +500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card grey dropdown">
                        <div class="dropdown-trigger" data-isopen="true">
                            <b>День 2</b>
                        </div>
                        <div class="dropdown-content">
                            <div class="task card purple">
                                <div class="task-title" style="color: white;">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti distinctio cum! Minus repellendus a iste, id iure aliquam ullam saepe illum esse odit omnis quisquam harum assumenda, eius consequuntur?
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone" style="color: white;">
                                        <input type="checkbox" disabled style="color: white;">Не пройдено
                                    </div>
                                    <div class="task-status-reward" style="color: white;">
                                        +500
                                    </div>
                                </div>
                            </div>

                            <div class="task card purple-border">
                                <div class="task-title">
                                    Lorem ipsum 
                                </div>
                                <div class="task-status">
                                    <div class="task-status-isdone">
                                        <input type="checkbox" disabled>Не пройдено
                                    </div>
                                    <div class="task-status-reward">
                                        +500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 -->
            </div>
           
        </nav>
        <main>

            <!-- <h1>Lorem ipsum</h1>
            <p style="margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat, minus vero necessitatibus magni accusantium accusamus id enim adipisci tempore quae iure quod fuga in voluptates dignissimos laudantium quibusdam recusandae?</p>
            <div style="margin-top: 10px;">
                <h2 style="display: inline;">Тестирование</h2>
                <div style="background: gold; border-radius: 15px; display: inline; padding: 5px; color: white;">+100500</div>
            </div>
            <div class="quizz">
                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        1) Сколько процентов НДС РФ?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>

                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        2) Какой год не вернуть?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>

                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        1) Сколько процентов НДС РФ?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>

                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        2) Какой год не вернуть?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>
                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        1) Сколько процентов НДС РФ?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>

                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        2) Какой год не вернуть?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>
                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        1) Сколько процентов НДС РФ?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>

                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        2) Какой год не вернуть?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>
                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        1) Сколько процентов НДС РФ?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div>

                <div class="quizz-elem card grey" style="padding: 15px;">
                    <div class="quizz-question">
                        2) Какой год не вернуть?
                    </div>
                    <div class="question-answer">
                        <input type="text" placeholder="Поле для ответа" style="width: 100%">
                    </div>
                </div> 
            </div>

            <button class="primary" style="float: right;">Завершить тест</button> -->
        </main>
        <aside>
            <div class="links card purple">
                <b style="color: white;">Полезные ссылки</b>
                <div class="links-list">
                    <button class="secondary" >Оформление документов</button>
                    <button class="secondary">Бланк документа</button>
                </div>
            </div>
        </aside>
    </div>
    <!-- <footer>
        footer
    </footer> -->
    <!-- <script src="{{ url_for('static', path='js/main.js') }}"></script> -->
    <!-- <script src="../static/js/auth.js"></script> -->
    <script src="/static/js/main.js"></script>
</body>
</html>